* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f5f7fa;
}
